<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AROMA Aviso legal</title>
    <link rel="stylesheet" href="../css/styles.css">
</head>
<body>
    <header>
        <figure class="logo">
            <img src="../images/logoMiguel.png" alt="logo" title="AROMA" width="112.5" height="100">
        </figure>
        <nav class="barra-navegacion">
            <ul>
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="galeria.html">Galería</a></li>
                <li><a href="presupuesto.html">Presupuesto</a></li>
                <li><a href="contacto.html" class="active">Contacto</a></li>
            </ul>
        </nav>
    </header>
    <section>
        <div class="titulo">
            <h2>Aviso legal de AROMA</h2>
        </div>
        <div class="parrafo">
            <p>
                Este sitio web es propiedad de AROMA, empresa dedicada a la creación, comercialización y 
                distribución de fragancias y productos relacionados con la perfumería. Al acceder y utilizar 
                este sitio web, el usuario acepta los siguientes términos y condiciones:
            </p>
            <p>
                <strong>1. Propiedad Intelectual: </strong>Todo el contenido presente en esta página web, incluidos textos, 
                imágenes, logotipos, gráficos y productos, es propiedad exclusiva de AROMA o ha sido debidamente autorizado 
                para su uso. Está prohibida su reproducción, distribución o modificación sin el consentimiento expreso 
                y por escrito de AROMA.
            </p>
            <p>
                <strong>2. Responsabilidad sobre los Contenidos: </strong>AROMA no se hace responsable de cualquier uso 
                indebido o inapropiado de la información presente en el sitio web. Los contenidos ofrecidos son meramente 
                informativos, y AROMA se reserva el derecho de modificar, actualizar o eliminar cualquier información sin 
                previo aviso.
            </p>
            <p>
                <strong>3. Enlaces Externos: </strong>Este sitio web puede contener enlaces a páginas de terceros. AROMA 
                no tiene control sobre el contenido de dichas páginas y no asume ninguna responsabilidad por las 
                actividades, servicios o información proporcionados por terceros.
            </p>
            <p>
                <strong>4. Privacidad y Protección de Datos: </strong>Los datos personales recabados a través de este 
                sitio web serán tratados conforme a nuestra <a href="politica_privacidad.html">Política de Privacidad</a>,
                cumpliendo con las leyes vigentes en protección de datos. AROMA garantiza la confidencialidad y seguridad 
                de dicha información.
            </p>
            <p>
                <strong>5. Jurisdicción: </strong>El uso de este sitio web se rige por las leyes aplicables del país 
                en el que opera AROMA. Cualquier disputa o reclamación relacionada con este sitio será sometida a la 
                jurisdicción de los tribunales competentes en dicha región.
            </p>
            <p>
                Al utilizar este sitio web, el usuario reconoce haber leído, comprendido y aceptado este Aviso Legal 
                en su totalidad.
            </p>
        </div>
        <!--Botón para volver a la página principal-->
        <div class="boton-principal">
            <a href="../index.html" class="button-link">Volver a página de inicio</a>
        </div>
    </section>
    <footer>
        <p>
            <a href="https://www.google.es/maps/place/C%2F+Gerona,+27,+03001+Alicante+(Alacant),+Alicante/@38.3441118,-0.4890787,17z/data=!3m1!4b1!4m6!3m5!1s0xd6237b31bd97399:0x63c3b35be096ed2e!8m2!3d38.3441076!4d-0.4865038!16s%2Fg%2F11b8vgprh4?hl=es&entry=ttu&g_ep=EgoyMDI0MDkwNC4wIKXMDSoASAFQAw%3D%3D" target="_blank">Calle Gerona, 27, ALICANTE</a>
        </p>
        <div class="social-media">
            <p>Nuestras redes sociales:</p>
            <a href="https://facebook.com" target="_blank"><img src="../images/facebook.png" alt="Facebook" width="30" height="30"></a>
            <a href="https://x.com" target="_blank"><img src="../images/x.png" alt="X" width="30" height="30"></a>
            <a href="https://instagram.com" target="_blank"><img src="../images/instagram.png" alt="Instagram" width="30" height="30"></a>
        </div>
        <p><a href="aviso_legal.html">Aviso legal</a></p>
        <p>&copy; 2024 AROMA</p>
    </footer>
    <script src="../js/scripts.js"></script>
</body>
</html>