<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AROMA Galería</title>
    <link rel="stylesheet" href="../css/styles.css">
</head>
<body>
    <header>
        <figure class="logo">
            <img src="../images/logoMiguel.png" alt="logo" title="AROMA" width="112.5" height="100">
        </figure>
        <nav class="barra-navegacion">
            <ul>
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="galeria.html" class="active">Galería</a></li>
                <li><a href="presupuesto.html">Presupuesto</a></li>
                <li><a href="contacto.html">Contacto</a></li>
            </ul>
        </nav>
    </header>    
    <!--Galería dinámica-->
    <section id="gallery">
        <!--Contenedor donde se encuentran las fotos-->
        <div class="titulo">
            <h2>Galeria de perfumes</h2>
        </div>
        <div class="gallery-container">
            <figure class="gallery-item">
                <img src="../images/aqua.png" alt="Aqcua di gio" width="400" height="400">
                <figcaption>ACQUA DI GIO - Giorgio Armani</figcaption>
            </figure>
            <figure class="gallery-item">
                <img src="../images/212.jpg" alt="212 MEN" width="400" height="400">
                <figcaption>212 MEN - Carolina Herrera</figcaption>
            </figure>
            <figure class="gallery-item">
                <img src="../images/invictus.jpg" alt="INVICTUS" width="400" height="400">
                <figcaption>INVICTUS - Paco Rabanne</figcaption> 
            </figure>
            <figure class="gallery-item">
                <img src="../images/sauvage.jpg" alt="SAUVAGE" width="400" height="400">
                <figcaption>SAUVAGE - Dior</figcaption> 
            </figure>
            <figure class="gallery-item">
                <img src="../images/versace.png" alt="VERSACE" width="400" height="400">
                <figcaption>EROS - Versace</figcaption> 
            </figure>
        </div>
        <!--Navegación entre las fotos, se establecen las flechas de movimiento entre las imágenes-->
        <nav class="gallery-navigation">
            <button class="nav-button prev-button"><span>&#60;</span></button>
            <button class="nav-button next-button"><span>&#62;</span></button>
        </nav>
    </section>
    <footer>
        <p>
            <a href="https://www.google.es/maps/place/C%2F+Gerona,+27,+03001+Alicante+(Alacant),+Alicante/@38.3441118,-0.4890787,17z/data=!3m1!4b1!4m6!3m5!1s0xd6237b31bd97399:0x63c3b35be096ed2e!8m2!3d38.3441076!4d-0.4865038!16s%2Fg%2F11b8vgprh4?hl=es&entry=ttu&g_ep=EgoyMDI0MDkwNC4wIKXMDSoASAFQAw%3D%3D" target="_blank">Calle Gerona, 27, ALICANTE</a>
        </p>
        <div class="social-media">
            <p>Nuestras redes sociales:</p>
            <a href="https://facebook.com" target="_blank"><img src="../images/facebook.png" alt="Facebook" width="30" height="30"></a>
            <a href="https://x.com" target="_blank"><img src="../images/x.png" alt="X" width="30" height="30"></a>
            <a href="https://instagram.com" target="_blank"><img src="../images/instagram.png" alt="Instagram" width="30" height="30"></a>
        </div>
        <p><a href="aviso_legal.html">Aviso legal</a></p>
        <p>&copy; 2024 AROMA</p>    
    </footer>
    <script src="../js/scripts.js"></script>
</body>
</html>