<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AROMA Politica de privacidad</title>
    <link rel="stylesheet" href="../css/styles.css">
</head>
<body>
    <header>
        <figure class="logo">
            <img src="../images/logoMiguel.png" alt="logo" title="AROMA" width="112.5" height="100">
        </figure>
        <nav class="barra-navegacion">
            <ul>
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="galeria.html">Galería</a></li>
                <li><a href="presupuesto.html">Presupuesto</a></li>
                <li><a href="contacto.html" class="active">Contacto</a></li>
            </ul>
        </nav>
    </header>
    <section>
        <div class="titulo">
            <h2>Politica de privacidad de AROMA</h2>
        </div>
        <div class="parrafo">
            <p>
                En AROMA, nos comprometemos a proteger la privacidad y seguridad de los datos personales de nuestros 
                usuarios. Esta Política de Privacidad describe cómo recopilamos, utilizamos y protegemos la información 
                proporcionada a través de nuestro sitio web. Al utilizar nuestros servicios, aceptas las prácticas 
                descritas en esta política.
            </p>
            <p>
                <strong>1. Recopilación de datos: </strong>Recopilamos información personal que los usuarios nos 
                proporcionan voluntariamente al registrarse en nuestra página, realizar compras o suscribirse a nuestro 
                boletín de noticias. Los datos que podemos solicitar incluyen, pero no se limitan a: nombre, dirección 
                de correo electrónico, dirección de envío, número de teléfono y detalles de pago.
            </p>
            <p>
                <strong>2. Protección de datos: </strong>En AROMA, implementamos medidas de seguridad técnicas y 
                organizativas para proteger tu información personal frente a accesos no autorizados, pérdidas, 
                alteraciones o divulgaciones. Utilizamos protocolos de cifrado y tecnologías avanzadas para garantizar 
                la seguridad de los datos durante su transmisión.
            </p>
            <p>
                <strong>3. Compartir información con terceros: </strong>AROMA no venderá ni compartirá tu información 
                personal con terceros para fines comerciales sin tu consentimiento expreso. Sin embargo, podemos compartir 
                tus datos con proveedores de servicios externos para facilitar el procesamiento de pagos, la entrega de 
                productos o el envío de comunicaciones. Todos los terceros con los que trabajamos cumplen estrictamente 
                las normativas de protección de datos.
            </p>
            <p>
                <strong>4. Cookies: </strong>Este sitio web utiliza cookies y tecnologías similares para mejorar la 
                experiencia de navegación y ofrecerte contenidos personalizados. Puedes gestionar la configuración de 
                cookies desde tu navegador en cualquier momento, sin embargo, algunas funcionalidades de la página pueden 
                verse afectadas si las deshabilitas.
            </p>
            <p>
                <strong>5. Tus derechos: </strong>Tienes el derecho de acceder, rectificar o eliminar tu información 
                personal en cualquier momento. Si deseas actualizar tus datos o ejercer cualquiera de tus derechos bajo 
                la ley de protección de datos, puedes ponerte en contacto con nosotros a través del correo electrónico 
                proporcionado en nuestra página web.
            </p>
            <p>
                Para cualquier duda o consulta sobre nuestra Política de Privacidad, no dudes en ponerte en contacto 
                con nosotros.
            </p>
        </div>
        <!--Botón para volver a la página principal-->
        <div class="boton-principal">
            <a href="../index.html" class="button-link">Volver a página de inicio</a>
        </div>
    </section>
    <footer>
        <p>
            <a href="https://www.google.es/maps/place/C%2F+Gerona,+27,+03001+Alicante+(Alacant),+Alicante/@38.3441118,-0.4890787,17z/data=!3m1!4b1!4m6!3m5!1s0xd6237b31bd97399:0x63c3b35be096ed2e!8m2!3d38.3441076!4d-0.4865038!16s%2Fg%2F11b8vgprh4?hl=es&entry=ttu&g_ep=EgoyMDI0MDkwNC4wIKXMDSoASAFQAw%3D%3D" target="_blank">Calle Gerona, 27, ALICANTE</a>
        </p>
        <div class="social-media">
            <p>Nuestras redes sociales:</p>
            <a href="https://facebook.com" target="_blank"><img src="../images/facebook.png" alt="Facebook" width="30" height="30"></a>
            <a href="https://x.com" target="_blank"><img src="../images/x.png" alt="X" width="30" height="30"></a>
            <a href="https://instagram.com" target="_blank"><img src="../images/instagram.png" alt="Instagram" width="30" height="30"></a>
        </div>
        <p><a href="aviso_legal.html">Aviso legal</a></p>
        <p>&copy; 2024 AROMA</p>
    </footer>
    <script src="../js/scripts.js"></script>
</body>
</html>