<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AROMA Presupuesto</title>
    <link rel="stylesheet" href="../css/styles.css">
</head>
<body>
    <header>
        <figure class="logo">
            <img src="../images/logoMiguel.png" alt="logo" title="AROMA" width="112.5" height="100">
        </figure>
        <nav class="barra-navegacion">
            <ul>
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="galeria.html">Galería</a></li>
                <li><a href="presupuesto.html" class="active">Presupuesto</a></li>
                <li><a href="contacto.html">Contacto</a></li>
            </ul>
        </nav>
    </header>
    <!--Formulario del presupuesto-->
    <section class="budget">
        <h2 class="titulo">Solicite su presupuesto</h2>
        <form id="presupuestoForm" action="formulario_correcto.html">
            <!--Primera parte del formulario - Datos de contacto-->
            <div class="contact-info">
                <h3>Datos de Contacto</h3>
                <label for="nombre">Nombre:</label>
                <input type="text" id="nombre" name="nombre" maxlength="15" placeholder="Escriba su nombre" required>
                
                <label for="apellidos">Apellidos:</label>
                <input type="text" id="apellidos" name="apellidos" maxlength="40" placeholder="Escriba sus apellidos" required>
                
                <label for="telefono">Teléfono:</label>
                <input type="text" id="telefono" name="telefono" maxlength="9" placeholder="Escriba su telefono" required>
                
                <label for="email">Correo Electrónico:</label>
                <input type="email" id="email" name="email" placeholder="Escriba su correo electrónico" required>
            </div>
            <!--Segunda parte del formulario - Datos del pedido-->
            <div class="budget-info">
                <h3>Presupuesto</h3>
                <!--Select para la elección del producto-->
                <label for="producto">Producto:</label>
                <select id="producto" name="producto">
                    <option value="no-select">Seleccione un producto</option>
                    <option value="producto1">Aqua di Gio - 230€</option>
                    <option value="producto2">212 MEN - 200€</option>
                    <option value="producto3">Invictus - 300€</option>
                    <option value="producto4">Sauvage - 150€</option>
                    <option value="producto5">Eros - 270€</option>
                </select>
                <!--Input para añadir el plazo en el que se desea recibir el producto-->
                <label for="plazo">Plazo [10% de descuento por cada mes]:</label>
                <input type="number" id="plazo" name="plazo" placeholder="En cuantos meses desea recibir el producto?" required>
                <!--Elección de extras-->
                <fieldset>
                    <legend><strong>Extras</strong></legend>
                    <label><input type="checkbox" name="extra" value="50"> Botella especial - 50€</label>
                    <label><input type="checkbox" name="extra" value="75"> Gama premium de empaquetado - 75€</label>
                    <label><input type="checkbox" name="extra" value="100"> Botella especial + Gama premium - 100€</label>
                </fieldset>
                <br>
                <!--Visualización del total-->
                <div class="total">
                    <label>Presupuesto Total:</label>
                    <span id="total">0€</span>
                </div>
            </div>
            <br>
            <!--Casilla para marcar la aceptación de los términos y condiciones-->
            <div class="terms">
                <label><input type="checkbox" id="condiciones" name="condiciones" required> 
                    Acepto la <a href="politica_privacidad.html">política de privacidad</a>
                </label>
            </div>
            <!--Botones para enviar o resetear el formulario-->
            <div class="actions">
                <button type="submit">Enviar</button>
                <button type="reset">Resetear</button>
            </div>
        </form>
    </section>
    <footer>
        <p>
            <a href="https://www.google.es/maps/place/C%2F+Gerona,+27,+03001+Alicante+(Alacant),+Alicante/@38.3441118,-0.4890787,17z/data=!3m1!4b1!4m6!3m5!1s0xd6237b31bd97399:0x63c3b35be096ed2e!8m2!3d38.3441076!4d-0.4865038!16s%2Fg%2F11b8vgprh4?hl=es&entry=ttu&g_ep=EgoyMDI0MDkwNC4wIKXMDSoASAFQAw%3D%3D" target="_blank">Calle Gerona, 27, ALICANTE</a>
        </p>
        <div class="social-media">
            <p>Nuestras redes sociales:</p>
            <a href="https://facebook.com" target="_blank"><img src="../images/facebook.png" alt="Facebook" width="30" height="30"></a>
            <a href="https://x.com" target="_blank"><img src="../images/x.png" alt="X" width="30" height="30"></a>
            <a href="https://instagram.com" target="_blank"><img src="../images/instagram.png" alt="Instagram" width="30" height="30"></a>
        </div>
        <p><a href="aviso_legal.html">Aviso legal</a></p>
        <p>&copy; 2024 AROMA</p>       
    </footer>
    <script src="../js/scripts.js"></script>
</body>
</html>
